.diceContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.diceContainer > ul {
    text-align: right;
    margin-right: -5px;
}

.jd-icon-dice {
    width: 40px;
    height: 40px;
    background: center no-repeat;
    background-size: contain;
    z-index: 100;
}